EXPRESS_URL= // URL for the express API deployment. Can be a local deployment or the vercel app URL.
NEXT_PUBLIC_API_URL= // URL for the Next.JS API endpoints. Should be the base url without the /api segment.
XBOX_API_KEY= // API Key for Xbox Live Authentication. Request one from the ENDGAME team.
NEXT_PUBLIC_XBOX_APP_KEY= // App Key for Xbox Live Authentication. Request one from the ENDGAME team.