EXPRESS_URL= // URL for the express API deployment. Can be a local deployment or the vercel deployment URL.
NEXT_PUBLIC_API_URL= // URL for the Next.JS API endpoints. Should be the base url of the website without the trailing /api segment.
XBOX_API_KEY= // API Key for Xbox Live Authentication. Request one from the ENDGAME team.
NEXT_PUBLIC_XBOX_APP_KEY= // App Key for Xbox Live Authentication. Request one from the ENDGAME team.
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= // Anon key for Supabase App.
NEXT_PUBLIC_SUPABASE_URL= // URL for the Supabase Project.
NEXT_PUBLIC_REDIRECT_URL = // URL for redirecting after Supabase Authentication.
SHOPIFY_DOMAIN= // Domain URL for Shopify Store. Request one from the ENDGAME team.
SHOPIFY_ACCESS_KEY= // Access key for Shopify Store. Request one from the ENDGAME team.

